<script setup lang="ts">
import MainView from "./views/MainView.vue";
import LoginView from "./views/LoginView.vue";
import { onMounted } from "vue";
import { useLoginStore } from "@/stores/login";
const loginStore = useLoginStore();
onMounted(() => {
  console.log("onMounted");
  loginStore.loadData();
});
</script>

<template>
  <v-btn color="success" @click="loginStore.loadData"
    >Load form local Storage</v-btn
  >
  <LoginView v-if="!loginStore.isLogin" />
  <MainView
    v-if="loginStore.isLogin"
    @logout="loginStore.logout"
    :loginname="loginStore.loginname"
  />
</template>

<style scoped></style>
